gamemode_type = 3
bot_uses_gadgets = "yes"
minimum_movement_delay = 0.1
attack_cooldown = 0.12
close_range_attack_cooldown_multiplier = 0.55
attack_spam_enabled = true
attack_spam_cooldown_multiplier = 0.12
attack_spam_requires_los = true
aim_attack_duration = 0.02
force_release_movement_on_close_threat = false
enable_parallel_movement_attack = true
close_range_attack_override = true
attack_decision_debug = true
joystick_keepalive_enabled = true
joystick_keepalive_interval = 0.75
movement_stall_warning_seconds = 0.35
movement_inactivity_pause_reset_enabled = "yes"
movement_inactivity_pause_reset_seconds = 3.0
movement_inactivity_pause_reset_cooldown = 10.0
gadget_cooldown = 8.0
super_cooldown = 0.25
super_retry_cooldown_multiplier = 0.5
gamemode = "showdown"
unstuck_movement_delay = 3.0
unstuck_movement_hold_time = 1.4
wall_stuck_enabled = "yes"
wall_stuck_ignore_radius = 150
wall_stuck_sample_interval = 0.2
wall_stuck_shift_threshold = 3.0
wall_stuck_timeout = 3.0
wall_stuck_min_walls = 3
escape_retreat_duration = 0.4
escape_arc_duration = 1.2
escape_arc_degrees = 135.0
wall_path_padding = 28
wall_path_probe_tiles = 1.5
wall_box_min_size = 20
wall_box_merge_iou = 0.25
wall_box_merge_center_distance = 35
wall_history_min_hits = 1
wall_model_classes = [ "wall", "bush", "close_bush",]
jump_pad_detection_enabled = "yes"
jump_pad_escape_distance = 620
jump_pad_escape_min_distance = 55
jump_pad_escape_requires_edge = "yes"
jump_pad_escape_edge_margin = 0.22
jump_pad_escape_teammate_safe_distance = 360
jump_pad_smoke_early_distance = 230
gadget_pixels_minimum = 1100.0
hypercharge_pixels_minimum = 1800.0
super_pixels_minimum = 1800.0
idle_pixels_minimum = 3000.0
ability_ready_memory_seconds = 1.25
wall_detection_confidence = 0.9
entity_detection_confidence = 0.6
entity_detection_retry_confidence = 0.35
entity_retry_when_enemy_missing = "yes"
entity_marker_min_ratio = 0.012
entity_marker_min_pixels = 12
entity_marker_below_box_ratio = 0.22
entity_marker_blue_min_ratio = 0.012
entity_marker_enemy_min_ratio = 0.012
entity_marker_decision_margin = 1.25
player_center_bias_radius = 420
player_green_pixel_weight = 0.03
player_red_pixel_penalty = 0.05
trio_grouping_enabled = "yes"
teammate_follow_min_distance = 180
teammate_follow_max_distance = 520
teammate_follow_step_distance = 8
teammate_combat_regroup_distance = 650
teammate_combat_bias = 0.75
teammate_lock_max_jump = 320
teammate_follow_force_direct = "yes"
teammate_follow_wall_avoid_enabled = true
teammate_follow_detour_angles = [25, 45, 70, 95]
teammate_follow_direct_probe_multiplier = 1.35
teammate_follow_detour_hysteresis = 0.25
teammate_follow_blocked_angle_memory_seconds = 0.8
teammate_follow_no_safe_escape_enabled = true
teammate_marker_follow_enabled = "yes"
teammate_marker_edge_margin = 0.28
seconds_to_hold_attack_after_reaching_max = 1.5
play_again_on_win = "no"
post_match_action = "lobby"
current_playstyle = "team_showdown.pyla"
showdown_playstyle_mode = "follow"
match_warmup_seconds = 0.0
adaptive_brain_enabled = "yes"
adaptive_brain_window = 20
strafe_while_attacking = "yes"
strafe_interval = 1.6
strafe_blend = 0.55
combat_dodge_blend = 0.45
combat_dodge_jitter_degrees = 18.0
lead_shots = "yes"
aimed_attacks = "yes"
projectile_speed_px_s = 900.0
auto_aim_min_confidence = 0.54
auto_aim_close_tap_range = 95
auto_aim_close_los_override_range = 130
auto_aim_debug = "yes"
enable_flicker_retreat = true
enable_combat_mans = true
projectile_dodge_enabled = true
projectile_dodge_horizon = 0.75
projectile_dodge_player_radius = 38.0
movement_intent_enabled = true
movement_intent_min_hold_ms = 350
movement_intent_max_hold_ms = 650
movement_intent_switch_score_threshold = 0.18
movement_intent_angle_smoothing = 0.35
movement_intent_debug = "yes"
combat_brain_enabled = true
combat_brain_debug = "yes"
ability_brain_enabled = true
ability_brain_debug = "yes"
defensive_attack_gate_enabled = true
panic_shot_range = 150
panic_super_range = 180
target_memory_seconds = 0.75
target_switch_margin = 0.18
projectile_threat_memory_ms = 300
projectile_dodge_without_enemy = true
super_min_value_score = 0.55
gadget_min_value_score = 0.50
hypercharge_min_value_score = 0.70
ability_retry_log_interval_ms = 500
wall_angle_fail_escape_enabled = true
wall_escape_blocks_attack = true
combat_snapshot_enabled = true
combat_snapshot_dir = "debug_frames/combat"
combat_snapshot_seconds = 8
tactical_planner_enabled = true
tactical_angle_samples = 16
survival_score_min_to_commit = 0.62
kill_confirm_score_threshold = 0.68
preferred_target_lock_for_aim = true
adaptive_aggression_enabled = true
damage_penalty_window_seconds = 3.0
missed_kill_window_decay = 0.04
friendly_fire_guard_enabled = true
friendly_fire_iou_threshold = 0.18
friendly_fire_center_distance_px = 70
close_attack_requires_clear_hit_point = true
attack_wall_guard_enabled = true
enable_joystick_movement = true
movement_input_mode = "auto"
mans_threat_threshold = 0.48
mans_hysteresis_ms = 360
flicker_retreat_cooldown_ms = 700
flicker_retreat_hold_ms = 420
dangerous_close_range = 180
heal_retreat_enabled = true
heal_low_health_threshold = 0.42
heal_resume_health_threshold = 0.72
heal_retreat_hold_ms = 2400
heal_attack_only_close_range = 150
movement_joystick_radius = 150
joystick_update_min_interval = 0.03
joystick_angle_deadzone = 4.0
joystick_micro_steps = 2
joystick_debug = "no"
brawler_ocr_attempts = 3
brawler_ocr_confidence_threshold = 0.86
roam_direction_hold_time = 1.5
roam_center_bias = 0.25
retreat_strafe_fraction = 0.5
approach_flank_blend = 0.12
multi_enemy_flee_weight = 0.45
angle_smooth_factor = 0.28
