.venv/
.DS_Store
/.idea
*.pyc
cfg/pyla_stats.json
cfg/match_history.toml
cfg/bot_config.toml
cfg/brawl_stars_api.toml
cfg/discord_config.toml
cfg/general_config.toml
cfg/lobby_config.toml
cfg/login.toml
cfg/telegram_config.toml
cfg/time_tresholds.toml
cfg/telegram_config.local.toml
cfg/telegram_chats.toml
cfg/adaptive_state.json
latest_brawler_data.json
cfg/match_history.toml
test.py
/debug_frames
/datasets
/runs
logs/
venv/
/dist
/build
main.spec
PylaAi-143.zip
start.bat
run.py
web_ui/server.py
web_ui/static/main.js
web_ui/static/style.css
web_ui/templates/index.html
